.Judul {
    font-weight: bold;
    font-size: 24px;
  }
.ratakanankiri {
    text-align:inherit
}
.JudulParagraf {
    font-weight: bold;
    font-size: 17px;
}
.bold {
  font-weight: bold;
}
.i  {
  font-size: small;
}